<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>

<div class="wrapper">
	<div class="map">
		<ul class="cards">
			{{> "./src/templates/cards.hbs"}}
		</ul>
	</div>
</div>

</body>
</html>
